.page-top {
  background-image: url(bg-city.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.explorcity-text h1 {
  display: flex;
  justify-content: center;
  font-family: Arial;
  font-size: 6.5em;
  padding-top: 0.5em;
}

.citySearcher {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.citySearchButton {
  display: flex;
  border-style: solid;
}

.pageBoxes {
  display: flex;
  justify-content: space-around;
  background-color: #DCDCDC;
  border-style: double;
  border-width: thick;
}

.pageBoxes #box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1.5em;
  height: 35em;
  width: 25em;
  border-style: solid;
  background-color: white;
}

.submitButton {
  margin: 0.15em;
}

.informationBox p {
  font-family: Verdana;
  font-size: 2em;
  margin-bottom: 0em;
}

.how-to-list {
  font-family: Verdana;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
}
